<div class="main-container container">
	<div class="row">
		<div class="col-xs-12"><div id="header"><img height="50" src="img/logo.png" /></div></div>
	</div>

	<div class="row">
		<div id="error-panel" class="panel panel-default">
			<div class="panel-body">
				<div id="error-panel" class="alert alert-danger" role="alert">
					{{errorCtrl.errorMsg.title}}
				</div>

				<pre>{{errorCtrl.errorMsg.message | json}}</pre>
			</div>
		</div>

		<div style="text-align: right;">
			<button type="submit" class="btn btn-primary" ui-sref="object-overview">{{'ERROR_RETURN_BTN' | translate}}</button>
		</div>
	</div>
</div>
