<div class="main-container container">
	<div class="row"><div class="col-xs-12"><div id="header"><img height="50" src="img/logo.png" /></div></div></div>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="m-t-0">{{'SW_INGEST_HEADER' | translate}}</h3> <br>

				<label>{{'SW_INGEST_CHOOSE_OBJECT' | translate}}</label>
				<ui-select id="chooseObject" ng-model="softwareIngestCtrl.selectedObject" theme="bootstrap" style="width: 315px;" title="{{'SW_INGEST_CHOOSE_OBJECT_PH' | translate}}" required>
					<ui-select-match placeholder="{{'SW_INGEST_CHOOSE_OBJECT_PH' | translate}}">{{$select.selected.title}}</ui-select-match>
					<ui-select-choices repeat="obj in softwareIngestCtrl.objectList | filter: $select.search">
						<b><span ng-bind-html="obj.title | highlight: $select.search"></span></b> <br>
						<span ng-bind-html="obj.description | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>

				<br>

				<div class="form-group">
					<label>{{'SW_INGEST_LICENSE_LBL' | translate}}</label>
					<textarea class="form-control" rows="3" ng-model="softwareIngestCtrl.license" placeholder="{{'SW_INGEST_LICENSE_PH' | translate}}" required></textarea>
				</div>

				<label>{{'SW_INGEST_NO_INSTANCES_LBL' | translate}}</label>
				<input type="number" class="form-control" ng-model="softwareIngestCtrl.allowedInstances">

				<br>

				<input-list list="softwareIngestCtrl.nativeFMTs" heading="{{'SW_INGEST_FMT_NATIVE_HEADER' | translate}}" list-empty-note="{{'SW_INGEST_FMT_NATIVE_EMPTY' | translate}}"
							input-placeholder="{{'SW_INGEST_FMT_NATIVE_PH' | translate}}" add-button-text="{{'SW_INGEST_FMT_NATIVE_BUTTON' | translate}}"></input-list>

				<input-list list="softwareIngestCtrl.importFMTs" heading="{{'SW_INGEST_FMT_IMPORT_HEADER' | translate}}" list-empty-note="{{'SW_INGEST_FMT_IMPORT_EMPTY' | translate}}"
							input-placeholder="{{'SW_INGEST_FMT_IMPORT_PH' | translate}}" add-button-text="{{'SW_INGEST_FMT_IMPORT_BUTTON' | translate}}"></input-list>

				<input-list list="softwareIngestCtrl.exportFMTs" heading="{{'SW_INGEST_FMT_EXPORT_HEADER' | translate}}" list-empty-note="{{'SW_INGEST_FMT_EXPORT_EMPTY' | translate}}"
							input-placeholder="{{'SW_INGEST_FMT_EXPORT_PH' | translate}}" add-button-text="{{'SW_INGEST_FMT_EXPORT_BUTTON' | translate}}"></input-list>

				<br>

				<button type="button" class="btn btn-primary pull-right" ng-click="softwareIngestCtrl.save()" ng-disabled="!softwareIngestCtrl.selectedObject">{{'SW_INGEST_SAVE_BUTTON' | translate}}</button>
			</div>
		</div>
	</div>
</div>