/* ==========================================================================
		Browser Problem Prompt
   ========================================================================== */

.browserproblem {
	background: #C11E1E;
	color: #000000;
	padding: 0.8em 0;
	font-size: 1.25em;
	text-align: center;
}

/* ==========================================================================
		Menu
   ========================================================================== */
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	
	.sidebar-nav .navbar ul {
		float: none;
	}
	
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

/* ==========================================================================
		Header
   ========================================================================== */

#header {
	margin: 7px 0;
}

/* ==========================================================================
		Action Buttons
   ========================================================================== */

#actionsBtnGroup {
	width: 100%;
}

#actionsBtnGroup .btn:first-child {
	border-radius: 0;
}

#actionsBtnGroup .btn:last-child {
	border-radius: 0 0 3px 3px;
}

/* ==========================================================================
		Action Buttons
   ========================================================================== */

#chooseCustomEnvSelect {
	margin-bottom: 7px;
}