<div class="panel panel-default">
	<div class="panel-heading">Aktionen</div>

	<div id="actionsBtnGroup" class="btn-group-vertical" role="group">
		<button type="submit" class="btn btn-default">Medienwechsel</button>
		<button type="submit" class="btn btn-default">Screenshot/Drucken/Speichern</button>
		<button type="submit" class="btn btn-default">Neustarten</button>
		<button type="submit" class="btn btn-default" ui-sref="wf-b.choose-env" ng-click="actionsCtrl.stopEmulator()">Beenden</button>
	</div>
</div>