<div class="panel panel-default">
	<div class="panel-heading">Aktionen</div>

	<div id="actionsBtnGroup" class="btn-group-vertical" role="group">
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeMediaDialog()" ng-show="actionsCtrl.driveId >= 0">Medienwechsel</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.screenshot()">Screenshot</button>
<!--		<button type="submit" class="btn btn-default">Neustarten</button> -->
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.stopEmulator()">Beenden</button>
	</div>
</div>
