<p>{{'CHOOSE_ENV_PROPOSAL' | translate: chooseEnvCtrl}}</p>
<p><b>{{chooseEnvCtrl.environments[0].label}}</b></p>
<button type="button" class="btn btn-primary" ui-sref="wf-b.emulator({envId:chooseEnvCtrl.environments[0].id})">{{'CHOOSE_ENV_BTN_PROPOSAL' | translate}}</button>
<br><br><br><br>

<form name="chooseEnvCtrl.altEnvForm">
	<p>Sie möchten “{{chooseEnvCtrl.objecttitle}}” lieber in einer anderen Umgebung starten?</p>
	<ui-select id="chooseCustomEnvSelect" ng-model="chooseEnvCtrl.custom_env" theme="bootstrap" style="width: 315px;" title="Wählen oder suchen sie eine Umgebung..." required>
		<ui-select-match placeholder="Wählen oder suchen sie eine Umgebung...">{{$select.selected.label}}</ui-select-match>
		<ui-select-choices repeat="env in chooseEnvCtrl.environments | filter: $select.search">
			<span ng-bind-html="env.label | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	
	<button type="submit" class="btn btn-default" ui-sref="wf-b.emulator({envId:chooseEnvCtrl.custom_env.id})" ng-disabled="!chooseEnvCtrl.altEnvForm.$valid">mit Auswahl starten</button>
</form>